.btn-counter{
    background-color: green;
    color:white;
    padding:10px;
    width:50px;
    font-size: large;
    margin-left: 33.33%;
    margin-top: 20px;
}
.count{
    font-size: large;
    padding:10px;
}
.span-count{
    margin-left: 35%;
    margin-top: 20px;
    font-size: 100px;
}
.btn2-counter{
    background-color: green;
    color:white;
    padding:10px;
    width:50px;
    font-size: large;
    margin-left: 25px;
    margin-top: 20px;
}
.btn-reset{
    margin-left:25px;
    padding:10px;
    background-color:brown;
    color:whitesmoke;
    width:200px;
    margin-top:50px;
}